        body{
            background: url("bank_bis.jpg") ;
            background-size: 1370px 700px;
            display: block;
            font-family: 'Nunito', sans-serif;
            color: ghostwhite;
        }
        h2{
            font-size:35px;
            text-align: center;
            height : 100px;
        }

        a:link {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-5%);
            padding: 7px;
            color : #384047;
            background-color: mediumaquamarine;
            text-decoration: none;
        }

        a:visited {
            color : #384047;
            background-color: mediumaquamarine;
            text-decoration: none;
        }

        a:hover {
            color : #384047;
            background-color:cadetblue;
            text-decoration: none;
        }

        a:active {
            color : #384047;
            background-color:cadetblue;
            text-decoration: none;
        }