
<!DOCTYPE html>
<html>
	<head>
		{% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css_files/mainpage.css" %}">
		<title> BIS PROJECT </title>
		<meta charset="UTF-8">

	</head>

	<body class="body">


		<header class="mainheader">
			<nav>
				<ul>

						<li class="active"><a href="/web/signup/">Sign UP</a></li>
						<li class="active"><a href="/web/login/">Log In</a></li>
				</ul>
			</nav>
			<!--<img src="C:\Users\NIKHITA\Downloads\Data-Analytics-for-bis.jpeg">-->
            {% load staticfiles %}
            <img src="{% static "css_files/Data-Analytics-for-bis.jpeg" %}" alt="My image"/>



		</header>

					<div class="maincontent">
						<div class="content">
							<article class="topcontent">
									<header>
										<h2>THE NASA TREND ANALYSER</h2>
									</header>

									<footer>
										<p class="post-info"><i>simply created today on 17th may 2015</i></p>
									</footer>

								<content>
									<p>
			So, you are a group of young entrepreneurs ready to put the first step in this magnum opus market- buzzing with ideas but unaware of the statistical and  locational factors affecting your startup? Don't worry! We are there to help you!

Or, you are already a stalwart in this gamble market and very well aware of the need of survey for you becoming the next wolf of wall street? Smart enough to make us do your work? We are more than honoured- you are at the right place!

Welcome to the NASA TREND ANALYZER- We here take the pleasure in providing you the survey of cities across the country providing you the trend of market such as which item owns which area? which area  is devoid of which luxury?- just click on sign up and go ahead on becoming the next wolf of wall street!

Happy Trend-analyzing!!!</p>
								</content>
                                </article>

						</div>
					</div>
					</br>



		<footer class="main-footer">
			<p>Visvesvaraya National Institute of Technology, South Ambazari Road, Nagpur, Maharashtra. Pin 440010 (India)</p>
			<p>Phone: (+91-712-) 2222828, 2224123, 2231636, 2226750, 2223710, 2236330, 2236331, 2236332 FAX: (+91-712-) 2223969 ,2223230</p>
		</footer>


	</body>
</html>